// #2A3039  //头部
// #313742  //侧边
// #353C48  //body
// body
$bodyBg:#353C48;
$bodyText:#D7D7D7;
$bodyFs:15px;
//navbar
$navbarBg:#2A3039;
// sidebar
$menuText:#D7D7D7;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#313742;
$menuHover:#263445;

$subMenuBg:#313742;
$subMenuHover:#001528;

$sideBarWidth: 190px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  navbarBg: $navbarBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
